# IDE Ignores
.idea/

# Python ignores
__pycache__/
*.py[cod]
*$py.class
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.pyc

# Ruby ignores
*.bridgesupport
*.gem
*.rbc
.dat*
*/.bundle/*
*/vendor/*
.ruby-gemset
.ruby-version
.rvmrc
bin/*
Gemfile.lock

# VS Code ignores
.vscode/*
