[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
APScheduler = "3.6.3"
argparse = "1.4.0"
opentelemetry-instrumentation = "0.14b0"
opentelemetry-api = "0.14b0"
opentelemetry-sdk = "0.14b0"
opentelemetry-instrumentation-flask = "0.14b0"
opentelemetry-instrumentation-requests = "0.14b0"
opentelemetry-instrumentation-psycopg2 = "0.14b0"
opentelemetry-exporter-jaeger = "0.14b0"
opentelemetry-exporter-otlp = "0.14b0"
opentelemetry-exporter-zipkin = "0.14b0"
psycopg2-binary = "2.8.6"
pyjson = "1.3.0"
pyyaml = "5.3.1"
requests = "2.24.0"
the-coffee-bar = {path = "."}

[requires]
python_version = "3.8"
