[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
APScheduler = "3.8.1"
argparse = "1.4.0"
cron-descriptor = "1.2.24"
Flask = "2.0.1"
flask-cors = "3.0.10"
opentelemetry-distro = "0.25b2"
opentelemetry-exporter-jaeger = "1.6.2"
opentelemetry-exporter-otlp-proto-http = "1.6.2"
opentelemetry-exporter-zipkin = "1.6.2"
opentelemetry-instrumentation = "0.25b2"
opentelemetry-sdk = "1.6.2"
opentelemetry-propagator-aws-xray = "1.0.1"
paste = "3.5.0"
psycopg2 = "2.9.1"
pyjson = "1.5.2"
pyyaml = "6.0"
requests = "2.26.0"
statsd = "3.3.0"
waitress = "2.0.0"
the-coffee-bar = {path = "."}

[requires]
python_version = "3.8"
