input[type=box]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
  }

  div:focus {
    border: 1px solid greenyellow;
}

div:active {
    border: 1px solid greenyellow;
}
